/* Add here all your css styles (customizations) */
html {
    font-size: 16px;
}
body {
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    text-rendering: optimizelegibility;
    background-color: #eee;
  }
  img.img-fix {
    float:left;
    width:100%;
    height:100%;
    object-fit:cover; 
  }
.wrapper {
    min-height: calc(100vh - 207px);
}
/* a.nav-link {
    color: #fff!important;
} */
/* a.nav-link:hover {
    background-color: #fff!important;
    color: #229c16!important;
    transition: 0.3s!important;
} */
.logo {
    width: 115px;
    height: 50px;
}
.text-small {
    font-size: small;
}

.text-gold {
    color: #bf8901;
}
.bg-nav-drakgold {
    background-color: #bf8901;
}
.bg-drakgold {
    background-color: #bf8901;
}
.bg-nav-gold {
    background-color: #DAA520;
}
.bg-darkgreen {
    background-color: #009688;
}
.bg-gray {
    background-color: #d4d4d4;
}
.bg-purple {
    background-color: #673ab7;
}
.border-gold {
    border-color: #bf8901;
}
.bg-gold {
    color: #bf8901;
}
.border-none {
    border : none!important;
}
.d-inline-grid {
    display: inline-grid!important;
}
hr.hr-title {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #000;
}
.title-page {
    font-size: 18px;
    color: #505050;
}

/* STORE */
.store-logo {
    width: 100%;
    height: 215px;
}
.store-title {
    overflow: hidden;
    height: 30px;
}
.store-title > a {
    color: #21c8f3;
    font-weight: 600;
}
.store-category > a {
    font-size: 14px;
    color: #797979;
}

.input-form {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 55%;
    background-color: #fff;
}

.input-form > .input-search {
  flex-grow:2;
  border:none;
}

.input-search:focus{
  outline: none;
}

.search-submit {
  background: #bf8901;
  color:white;
  border-radius: 0;
  padding: 0px 25px;
}
.search-submit:hover {
  color:white;
}
.btn-open-store {
    border-radius: 0;
    background-color: #2196F3;
    border-color: #2196F3;
}
.btn-login-navbar {
    border-radius: 0;
    background-color: #009688;
    border-color: #009688;
}
.btn-open-store:hover {
    background-color: #2196F3;
    border-color: #2196F3;
}
.btn-login-navbar:hover {
    background-color: #009688;
    border-color: #009688;
}
.store-category {
    line-height: 1.4;
    overflow: hidden;
    height: 69px;
}
.store-view {
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.store-view > li {
    padding: 0px 10px 0px 0px;
    font-size: 11px;
}
.border-buttonpagenp {
    border: none;
    background-color: #009688;
    border-top-left-radius: 1.25rem!important;
    border-bottom-left-radius: 1.25rem!important;
    border-top-right-radius: 1.25rem!important;
    border-bottom-right-radius: 1.25rem!important;
    color: #fff;
    padding: 5px 8px;
    width: 30px;
    height: 30px;
    margin: 1px 10px;
}
.border-buttonpagenp:hover {
    border: none;
    background-color: #009688;
    color: #fff;
}
.pagelink-number , .pagelink-number:hover {
    background-color: #fff;
    border: none;
    color: #000;
}
/* END STORE */


/* PROFILE */
.status-btn-send {
    background-color: #009688;
    border-radius: 40px!important;
    padding: 0px 11px;
}
.photo-profile {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100px;
}
.profile-follow {
    font-size: small;
    color: #595959;
}
.profile-tab.active {
    background-color: transparent!important;
    color: #000 !important;
    border-bottom: 5px solid #009688!important;
    border-radius: 0px;
}
a.profile-tab {
    background-color: transparent!important;
    color: #000 !important;
    border-radius: 0px!important;
    font-weight: 600;
    border-bottom: 5px solid #b0b0b0;
}
a.profile-tab:hover {
    background-color: transparent!important;
    color: #000 !important;
    border-bottom: 5px solid #009688;
    border-radius: 0px;
    transition: 0s!important;
}
.profile-tab-link {
    text-align: center;
}
.profile-tab-link > li {
    width: 49%;
}
.profile-last-port {
    border: 1px #444;
    border-style: dashed;
    border-radius: 0;
}
.product-img {
    width: 100%;
    height: 210px;
}
.text-large {
    font-size: large;
}
.profile-last-port-view {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 15px;
}
.profile-fix-ex {
    overflow: hidden;
    height: 155px;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  width: 160px;
  background-color: #009688;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  margin-left: -80px;
  margin-bottom: 10px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #009688 transparent transparent transparent;
}
/* END PROFILE */

/*EDIT PROFILE*/
.ed-mailandpass > p {
    color: #9E9E9E;
    font-size: small;
}
.ed-icon-pent {
    color: #9E9E9E;
    font-size: xx-large;
    position: absolute;
    right: 11px;
    top: 36px;
}
.ed-title {
    border-bottom: 4px solid #009688;
    padding-bottom: 5px;
    font-size: large;
}
.ed-tect-input{
    font-size: small;
}
.ed-btn-save {
    background-color: #009688;
    border: 2px solid #009688;
    color: #fff;
    border-radius: 0;
}
.ed-btn-save:hover {
    background-color: transparent;
    border: 2px solid #009688;
    color: #009688;
}
.ed-btn-cancel {
    background-color: #9e9e9e;
    border: 2px solid #9e9e9e;
    color: #fff;
    border-radius: 0;
}
.ed-btn-cancel:hover {
    background-color: transparent;
    border: 2px solid #9e9e9e;
    color: #9e9e9e;
    border-radius: 0;
}
/*END EDIT PROFILE*/
/*COMMUNITY*/
.cm-img-circle {
    width: 100%;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.cm-like {
    background-color: #e81707;
    border: 1px solid #e81707;
    color: #fff;
    text-align: center;
    width: 23px;
    height: 23px;
    padding: 3px;
    margin-left: auto;
    border-radius: 50%;
    font-size: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.cm-like-n-like {
    background-color: #fff;
    border:1px solid #e81707;
    color: #e81707;
}
.cm-cat {
    overflow: inherit;
    height: auto;
}
.comment-img-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.comment-input {
    border: 0;
    border-bottom: 1px solid;
}
/*END COMMUNITY*/
/*REGISTER*/
.register-tab-link > li {
    width: 32.333%;
    text-align: center;
}
.register-card-chat {
    overflow: hidden;
    height: 600px;
}
.rgs-scroll-chat {
    overflow-y: scroll;
    height: 551px;
}
/* width */
.rgs-scroll-chat::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.rgs-scroll-chat::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
.rgs-scroll-chat::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}

/* Handle on hover */
.rgs-scroll-chat::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.rgs-chat-user-15 {
    width: 15%;
}
.rgs-chat-user-85 {
    width: 85%;
}
.rgs-radius {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 52px;
}
.rgs-name-chat:hover {
    background-color: #bf8901;
    transition: 0.3s;
}
.rgs-name-chat.active {
    background-color: #bf8901;
    border-color: transparent;
}
.rgs-name-chat.active > a > div > div > .d-inline-grid > .text-gold , .rgs-name-chat.active > a , .rgs-name-chat.active > a > div > div > .d-inline-grid {
    color: #fff!important;
    text-decoration: none;
}
.rgs-name-chat:hover > a > div > div > .d-inline-grid > .text-gold , .rgs-name-chat > a:hover , .rgs-name-chat:hover > a > div > div > .d-inline-grid{
    color: #fff!important;
    text-decoration: none;
    border-color: transparent;
}
.rgs-name-chat > a > div > div > .d-inline-grid {
    color: #a2a2a2;
    text-decoration: none;
    border-color: transparent;
}
.chat-img-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin:6px 0px;
}
.chat-name-font {
    padding: 17px 0px;
    font-size: larger;
}
.caht-box {
  background-color: #f0f0f0;
  height: 486px;
  overflow-y: scroll;
}
.caht-input-bottom {
    background-color: #fff;
    height: 52px;
    padding: 8px;
}
/* width */
.caht-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.caht-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
.caht-box::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
}

/* Handle on hover */
.caht-box::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.chat-submit {
    border-radius: 0;
    background-color: #019730;
    color: #fff;
    border-color: #019730;
    margin-left: 5px;
    cursor: pointer;
}
.you-mes {
    background-color: #009688;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    max-width: 320px;
    border-radius: 30px;
    padding: 6px 15px;
    text-align: left;
    word-break: break-all;
    position: relative;
    margin-bottom: 5px;
    white-space: normal;
    line-height: 1.3;
}
.you-mes::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #009688 transparent transparent transparent; 
}
.friend-message {
    background-color: #9E9E9E;
    color: #fff;
    font-weight: 400;
    font-size: medium;
    max-width: 320px;
    white-space: normal;
    border-radius: 30px;
    padding: 6px 15px;
    text-align: left;
    position: relative;
    margin-bottom: 5px;
}
.friend-message::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #9E9E9E transparent transparent transparent; 
}
.fileContainer {
    overflow: hidden;
    position: relative;
    font-size: 33px;
    margin-left: 7px;
    line-height: 1;
    margin-top: 1px;
    margin-bottom: 0;
    color: #bf8901;
    font-weight: 500;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}
/*END REGISTER*/
/* PRODUCT-LIST */
.prduct-tab.active {
    background-color: #bf8901;
    color: #fff!important;
    border-color: #bf8901;
    
}
.prduct-tab.active:hover {
    background-color: #bf8901;
    color: #fff!important;
    border-color: #bf8901;
}
.prduct-tab {
    background-color: #daa520;
    color: #fff!important;
    padding: 5px 10px!important;
    border-radius: 0px!important;
}
.prduct-tab:hover {
    background-color: #bf8901;
    color: #fff!important;
    border-color: #bf8901;
}
.product-chat {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
}
.list-rank {
    width: 20%;
}
.list-img-profile {
    width: 25%;
}
.list-name {
    width: 55%;
}
.list-chat:last-child {
    border-bottom: none!important;
}
li.list-tab-cat {
    margin-right: -5px;
    margin-left: 0px;
}
.list-all-caht {
    background-color: #009688;
    display: inline-block;
    padding: 7px 25px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 37px;
}
.list-chat-user {
    overflow-y: scroll;
    height: 540px;
}
/* width */
.list-chat-user::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.list-chat-user::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.list-chat-user::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

/* Handle on hover */
.list-chat-user::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.list-chat-time {
    font-size: smaller;
    color: #c7c5c5;
}
.list-img-logo {
    width: 100%;
    height: 195px;
}
.slick-slider {
    margin: 0 15px;
}
.slick-slide {
    margin-right:5px;
    margin-left:5px;
}
.list-slick-color , .list-slick-color:focus , .list-slick-color:hover{
    font-size: 40px;
    color: #000;
}
.list-slick-color.list-prev {
    position: absolute;
    z-index: 1;
    left: -2.5%;
    top: 35%;
}
.list-slick-color.list-next {
    position: absolute;
    z-index: 1;
    right: -2.5%;
    top: 35%;
}
/* END PRODUCT-LIST */





/*change color*/
.sidebarcolor {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #bf8901;
    overflow-x: hidden;
    padding-top: 0px;
    top: 50%;
}

.sidebarcolor a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebarcolor .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.c-fixed {
    right: 0;
    top: 50%;
    z-index: 1000;
}
.btn-cog {
    background-color: #bf8901;
    border: 1px solid #bf8901;
    color: #ffffff;
    border-radius: 0;
    font-size: 25px;
    padding: 10px 20px;
}
.btn-cog:hover {
    background-color: #fff;
    border: 1px solid #bf8901;
    color: #bf8901;
    border-radius: 0;
    font-size: 25px;
    padding: 10px 20px;
}
.w-theme {
    width: 50px;
    height: 50px;
}
.bg-black {
    background-color: #000;
}
.bg-dark-green {
    background-color: #009688;
}
.bg-green1 {
    background-color: #4CAF50;
}
.bg-green2 {
    background-color: #8BC34A;
}
.bg-black-gray {
    background-color: #c5c3c3;
}
.pointer {
    cursor: pointer;
}
/*end change color*/

@media (max-width:575px) {
    .store-logo {
        width: 100%;
        height: 60vmin;
    }
    .profile-last-port-view {
        position: inherit;
        bottom: 0;
        left: 0;
        padding: 0px 0px;
        font-size: small;
    }
    .product-img {
        width: 100%;
        height: 60vmin;
    }
    .photo-profile {
        width: 15vmin;
        height: 15vmin;
        overflow: hidden;
        border-radius: 100px;
    }
    .cm-img-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
    }
    .chat-table {
        display: none;
    }
    .chat-name-font {
        padding: 17px 0px;
        font-size: medium;
        margin-left: 20px;
    }
    .register-tab-link > li {
        width: 31.333%;
        text-align: center;
        font-size: small;
    }
    .register-tab-link > li > .nav-link{
        padding-left: 0px;
        padding-right: 0px;
    }
    .chat-img-user {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 9px 0px;
    }
    .list-img-logo {
        width: 100%;
        height: 52vmin;
    }
    .you-mes {
        max-width: 100%;
    }

}
@media (max-width:568px) and (max-height: 320px)  {
    .store-logo {
        width: 100%;
        height: 350px;
    }
    .product-img {
        width: 100%;
        height: 300px;
    }
}
@media (min-width: 576px) {
    .store-logo {
        width: 100%;
        height: 165px;
    }
    .product-img {
        width: 100%;
        height: 305px;
    }
    .profile-last-port-view {
        position: inherit;
        bottom: 0;
        left: 0;
        padding: 0px 0px;
    }
    .cm-img-circle {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        overflow: hidden;
    }
    .cm-name {
        font-size: small;
    }
    .store-view {
        list-style-type: none;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
        display: none!important;
    }
    .cm-cat {
        overflow: inherit;
        height: auto;
        font-size: x-small;
    }
    .list-img-logo {
        width: 100%;
        height: 160px;
    }
}
@media (min-width: 768px) {
    .store-logo {
        width: 100%;
        height: 215px;
    }
    .product-img {
        width: 100%;
        height: 320px;
    }
    .list-img-logo {
        width: 100%;
        height: 210px;
    }
    .list-chat-user {
        overflow-y: scroll;
        height: 309px;
    }
    .caht-box {
        background-color: #f0f0f0;
        height: 255px;
        overflow-y: scroll;
    }
}
@media (min-width: 992px) {
    .store-logo {
        width: 100%;
        height: 195px;
    }
    .product-img {
        width: 100%;
        height: 210px;
    }
    .input-form {
        display: flex;
        flex-direction: row;
        padding: 5px;
        width: 40%;
        background-color: #fff;
    }
    .profile-last-port-view {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0px 15px;
        font-size: small;
    }
    .profile-fix-ex {
        overflow: hidden;
        height: 150px;
    }
    .list-img-logo {
        width: 100%;
        height: 190px;
    }
    .list-chat-user {
        overflow-y: scroll;
        height: 386px;
    }
    .caht-box {
        background-color: #f0f0f0;
        height: 332px;
        overflow-y: scroll;
    }
}
@media (min-width: 1200px) {
    .store-logo {
        width: 100%;
        height: 235px;
    }
    .product-img {
        width: 100%;
        height: 230px;
    }
    .profile-last-port-view {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0px 15px;
        font-size:medium;
    }
    .cm-name {
        font-size: medium;
    }
    .list-chat-user {
        overflow-y: scroll;
        height: 463px;
    }
    .caht-box {
        background-color: #f0f0f0;
        height: 409px;
        overflow-y: scroll;
    }
    .input-form {
        display: flex;
        flex-direction: row;
        padding: 5px;
        width: 55%;
        background-color: #fff;
    }
}
@media (min-width: 1600px) {
    .store-logo {
        width: 100%;
        height: 250px;
    }  
    .profile-fix-ex {
        overflow: hidden;
        height: 175px;
    }
    .list-chat-user {
        overflow-y: scroll;
        height: 617px;
    }
    .caht-box {
        background-color: #f0f0f0;
        height: 563px;
        overflow-y: scroll;
    }
}
