$font-color:                 #364150 ;

$brown-background-color:        $font-color;


$default-color:              #364150;
$default-bg:                 #364150;
$default-states-color:       darken($default-color,11%) ;

$yellow: $warning-color;
$border-radius-base:        4px;

